pandas
pandas-gbq

numpy 
cvxpy
scipy 
sympy
statsmodels 
scikit-learn

matplotlib 
seaborn
plotly

colour
pyarrow
pendulum   
lxml
jupyter
nbformat

beautifulsoup4
fake-useragent

psycopg2-binary
sqlalchemy

geopandas
fiona 
shapely
pyproj 
rtree 

