pandas
pandas-gbq

numpy 
scipy 
sympy
statsmodels 

matplotlib 
nbformat
plotly
colour

mplfinance
yfinance
world-bank-data
ccxt

psycopg2-binary
sqlalchemy

fake-useragent
beautifulsoup4  
fake-useragent

pendulum   
lxml
